<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.north.sys.mapper.SysAreaMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        is_deleted,
        revision,
        created_by,
        created_time,
        updated_by,
        update_time,
        id, parent_id, area_name, area_level, tree_id, area_order, describe, town_code
    </sql>

</mapper>
